body{
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url(./assets/bcg.jpg);
  background-position: center;
  background-size: 150%;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

button {
  background-color: #333974;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}
