.esqueci-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
}

.esqueci-container button {
    margin-left: 10px;
    cursor: pointer;
}
